# compiled output
/lib

# Dependency directories
node_modules/
package-lock.json

# dotenv environment variables file
.env

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Logs
logs
*.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# System Files
.DS_Store
Thumbs.db
